@use'base/variables' as v;
@use'base/mixins' as m;

.confirmar {
    margin-top: 5rem;
    .uptask {
        @include m.textoDegradado( v.$naranja,v.$blanco  )
    }

    .acciones {
        justify-content: center;
        a {
            color: v.$naranja;
            font-weight: 700;
        }
    }
}