@use'base/variables' as v;
@use'base/mixins' as m;

.crear {
    margin-top:  5rem;

    .uptask {
        @include m.textoDegradado( v.$rojo, v.$cyan )
    }

    input[type="submit"] {
        @include m.boton(v.$morado, v.$blanco)
    }

    .acciones {
        a {
            color: v.$morado;
        }
    }
}