@use'base/variables' as v;
@use'base/mixins' as m;
.dashboard {
    background-color: v.$grisclaro;


    @include m.tablet {
        display: flex;
        height: 100vh;
    }

    .principal {
        @include m.tablet {
            display: block;
            flex: 1;
            overflow: scroll;
        }

    }

    .contenido {
        padding: 2rem;

        .nombre-pagina {
            font-size: 2.9rem;
            text-align: center;
        }
    }

    .formulario {
        input:not([type="submit"]) {
            background-color: v.$blanco;
        }
    
        input[type="submit"] {
            @include m.boton(v.$indigo, v.$blanco);
            padding: 1.1rem;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.4rem;
        }
    }

    .enlace {
        color: v.$indigo;
        &:hover {
            color: darken(v.$indigo, 30%);
        }

    }
}