@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    opacity: 0;
    background-color: v.$indigo;
    height: 0;
    overflow: hidden;
    transition-property: opacity;
    transition-duration: 500ms;


    &.mostrar {
        padding: 2rem;
        opacity: 1;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0 0 0 / .92);
        @include m.tablet {
            display: none;
        }
    }

    &.ocultar {
        opacity: 0;
    }

    @include m.tablet {
        height: 100%;
        opacity: 1;
        padding: 2rem;
        background-color: v.$indigo;
    }

    .contenedor-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            color: v.$blanco;
            margin: 0;
            text-align: center;
        }

        .cerrar-menu {
            display: flex;
            justify-content: center;
            height: 2rem;
            width: 2rem;

            img {
                &:hover {
                  cursor: pointer;  
                }
                
            }
            @include m.tablet {
                display: none;
            }
        }
    }


    .sidebar-nav {
        margin-top: 5rem;
        a {
            color: v.$blanco;
            display: block;
            margin-bottom: 1rem;
            padding: .6rem;
            transition-property: background-color;
            transition-duration: 300ms;
            text-transform: uppercase;            
            font-size: 2.4rem;
            margin-bottom: 2rem;

            &:hover,
            &.activo {
                background-color: darken(v.$indigo, 20%);
                border-radius: .5rem;
            }

            @include m.tablet {
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }
        }
    }

    .cerrar-sesion-mobile {
        margin-top: 10rem;
        .cerrar-sesion {
            @include m.boton(v.$indigo, v.$blanco);
        }

        @include m.tablet {
            display: none;
        }
    }
}